
/* --------- Start: About Me CSS */
.about-me{
    margin-top:4rem !important;
}
.photo-container{
    padding: 20px 0px 20px 30px;
}
@media (max-width: 768px) {
    .photo-container{
        z-index: -1000;
        padding: 20px !important;
    }
}
@media (max-width: 992px) {
    .about-me{
        margin-top:3.5rem !important;
    }
}


/* --------- End: About Me CSS */


.potted_plant{
    position: absolute;
    top: -165px;
    z-index: -500;
    height: 168px;
}

/* --------- Start: Projects CSS */
.projects{
    position: relative;
    background-color: #705F55;
    padding: 50px 0px;
    margin-top: 4rem;
}

@media (max-width: 992px) {
    .projects{
        padding: 50px 0 !important;
    }
}
@media (max-width: 768px) {
    .projects{
        padding: 30px 0px !important;
    }
    .github-text{
        display: none;
    }
    .fab.fa-github{
        transform: scale(1.5);
    }
}
@media (max-width: 450px) {
    .projects{
        padding: 5px 5px;
    }
}
.card{
    border-radius: 10px !important;
}
.card-body{
    background-color: #F3E9D7;
    border-radius: 0 0 10px 10px;
}
/* --------- End: Projects CSS */

/* --------- Start: Skills CSS */
hr{
    height: 2px;
    width: 100%;
    border: none;
    background-image: -webkit-gradient(linear, left top, right top, from(#705f55), color-stop(#f1bda0), to(#705f55));
    background: linear-gradient(to right, #705f55, #f1bda0, #705f55);
    opacity: 1 !important;
    border-top: none !important;
    margin: 0 !important;
}
.skills{
    margin-top: 5rem;
}
.container.skills h1{
    text-align: center;
    margin-bottom: 2rem;
}
.container.skills > div{
    margin: 3.2rem auto 2rem;
}

.icon-container{
    width: 20%;
    margin-bottom: 0.8rem;
}
@media (max-width: 576px) {
    .icon-container{
        width: 25%;
    }
}
@media (max-width: 460px) {
    .icon-container{
        width: 33%;
    }
}

.icon-img{
    background-color: #ffffff;
    padding: 1rem;
    border: solid 2px #705f55;
    border-radius: 10px;
}
.icon-img > img{
    width: 50px;
}
.icon-text > p{
    margin: 0.3rem !important;
    text-align: center;
}
/* --------- End: Skills CSS */


/* --------- Start: Contact CSS */
.container.contact{
    margin: 5rem auto;
}
.contact-inner-container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}
#contact{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 40px 60px 300px;
    height: 700px;
    box-shadow: 0 0px 7px 1px #6e5a4e3b;
}

#contactForm{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    height: 100%;
}
#contact > h3{
    margin: 0 !important;
}
label{
    margin-top: 1.25rem;
}
input, textarea{
    margin-top: 0.2rem !important;
}
.envelope-back {
    z-index: -900;
}
.envelope-back > .plant{
    position: absolute;
    left: -100px;
}
.btn-submit{
    margin-top: 1.25rem;
    width: 150px;
    z-index: 100;
}
@media (max-width: 768px) {
    #contact{
        height: 650px;
        padding: 40px 60px 250px;
    }
    .btn-submit{
        width: 100%;
    }
}
@media (max-width: 576px) {
    #contact{
        width: 90%;
        padding: 30px 30px 200px;
    }
}
@media (max-width: 500px) {
    #contact {
        height: 600px;
    }
}
@media (max-width: 450px) {
    .envelope-back > .plant{
        position: absolute;
        left: -65px;
    }
}
/* --------- End: Contact CSS */



body {
    background-color: #FDFBED !important;
}
p, label, input, textarea, a, button, span{
    font-family: "Lekton", serif;
    font-weight: 400;
    font-style: normal;
    color: #66371a !important
}
h1, h2, h3, h4, h5, h6{
    font-family: "Alegreya Sans SC", serif;
    font-weight: 700 !important;
    font-style: normal;
    color: #462d1e !important;
}

.btn-primary{
    background-color: #F1BDA0 !important;
    color: #473a32 !important;
    border-color: #F1BDA0 !important;
    box-shadow: 2.5px 2.5px 0px 0px #7b3c186b;
}
.btn-primary > span{
    font-weight: 700 !important;
}
.btn-primary:hover{
    background-color: #d8a589 !important;
    border-color: #d8a589 !important;
    transform: translateY(-8%);
    transition: 0.3s;
}

.btn-outline-dark{
    border-color: #66371a !important;
}
.btn-outline-dark:hover{
    background-color: #66371a47 !important;
}
.frame{
    width: 100%;
}
.profile_photo{
    width: 100%;
}

.hidden{
    opacity: 0;
    filter: blur(2px);
    transform: translateX(-100%);
    transition: all 1s;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}

/* --------- Start: Navbar CSS */

.navbar{
    justify-content: flex-end !important;
    background-color: #DFD6C5 !important;
    padding: 0.5rem 0 !important;
}
@media (min-width: 768px) {
    .nav-item:last-child > .nav-link{
        padding-right: 0px !important;
    }
}

.nav-link{
    padding: 0.5rem 1rem !important;
    color: #705F55 !important;
    font-family: "Lekton", serif;
    font-weight: 700 !important;
    font-style: normal;
}
.nav-link:hover{
    color: #473a32 !important;
}
.toggle-navbar{
    width: 56px !important;
}
.inner-container-fluid{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: flex-end;
    width: 100%;
}
.container.inner-container-fluid{
    width: 100% !important;
}
.navbar-collapse.collapse {
    width: 100%;
    justify-content: flex-end;
}
.navbar-collapse.collapsing{
    width: 100%;
}

.navbar-toggler{
    background: #473a32 !important;
}
.navbar-toggler.collapsed{
    background: #705F55 !important;
}
.navbar-toggler:focus{
    box-shadow: none !important;
}
.navbar-toggler:hover {
    background: #473a32 !important;
    transform: scale(1) !important;
}

/* --------- End: Navbar CSS */

@media (min-width: 992px) {
    .container{
        max-width: 960px !important;
    }
}

@media (max-width: 576px) {
    .container{
        width: auto !important;
        margin-left: 1rem !important;
        margin-right: 1rem !important;
    }
}
