

button {
    margin-top: 20px;
    padding: 10px 20px;
    background: linear-gradient(135deg, #3700b3, #bb86fc);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: transform 0.2s ease, background 0.3s ease;
}

button:hover {
    background: linear-gradient(135deg, #bb86fc, #3700b3);
    transform: scale(1.1);
}
/* .inner-container{
    display: flex;
    flex-direction: column;
    padding: 100px;
    height: 100%;
} */
.about-me{
    height: 500px;
}
.about-me > .inner-container{
}

.skills{
    height: 500px;
}
.skills > .inner-container{
}


.projects{
    height: 500px;
}
.projects > .inner-container{
}

.contact{
   height: 500px;
}
/* .contact > .inner-container{
    background-image: url(./images/stars.svg);
    opacity: 25%;
} */

body {
    /* margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; */
    background-color: #FDFBED !important;
}
p{
    font-family: "Lekton", serif;
    font-weight: 400;
    font-style: normal;
}
.inner-container {
    position: relative;
    width: 500px;
    height: 400px;
}

.moving-object {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #6200ea;
    border-radius: 50%;
}

.frame{
    width: 100%;
}

.profile_photo{
    width: 100%;
}

.navbar{
    top: 10px !important;
    justify-content: flex-end !important;
    background-color: #DFD6C5 !important;
    border-radius: 10px;
    padding: 0.5rem !important;
}
.nav-link{
    padding: 0.5rem 1rem !important;
    color: #705F55 !important;
    font-family: "Lekton", serif;
    font-weight: 700 !important;
    font-style: normal;
}
.nav-link:hover{
    background-color: #F1BDA0 !important;
}
.toggle-navbar{
    width: 56px !important;
}
.inner-container-fluid{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: flex-end;
    width: 100%;
}


.navbar-collapse.collapse {
    width: 100%;
    justify-content: flex-end;
}
.navbar-collapse.collapsing{
    width: 100%;
}

@media (min-width: 992px) {
    .container{
        max-width: 960px !important;
    }
}

.navbar-toggler{
    background: #473a32 !important;
}
.navbar-toggler.collapsed{
    background: #705F55 !important;
}
.navbar-toggler:focus{
    box-shadow: none !important;
}
.navbar-toggler:hover {
    background: #473a32 !important;
    transform: scale(1) !important;
}

